<nav class="navbar">
  <div class="container">
    <a href="/" class="brand">My Website</a>
    <ul class="nav-links">
      <li><a href="/">Login</a></li>
      <li><a href="/video">Video</a></li>
    </ul>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
